# Created by https://www.toptal.com/developers/gitignore/api/xcode,swift,swiftpackagemanager,cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swift,swiftpackagemanager,cocoapods

### CocoaPods ###
Pods/

### Swift ###
## User settings
*.xcscmblueprint
*.xccheckout
xcuserdata/

## Derived data and build artifacts
build/
DerivedData/
*.moved-aside

## Xcode legacy compatibility
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Swift/Obj-C headers
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

### Swift Package Manager ###
Packages/
.build/
Package.pins
Package.resolved
.swiftpm/

### CocoaPods ###
# (Already included above, listed again for clarity)
# Pods/

### Carthage ###
Carthage/Build/

### Accio ###
Dependencies/
.accio/

### fastlane ###
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

### Code Injection ###
iOSInjectionProject/

### Xcode Project ###
*.xcodeproj/xcuserdata/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of .gitignore